 .u-section-1 {
  background-image: none;
  min-height: 2151px;
}

.u-section-1 .u-image-1 {
  height: 754px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 15px 248px 0 268px;
}

.u-section-1 .u-text-2 {
  margin: 16px calc(((100% - 1140px) / 2) + 49px) 0 calc(((100% - 1140px) / 2) + 69px);
}

.u-section-1 .u-image-2 {
  width: 256px;
  height: 195px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 15px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -176px calc(((100% - 1140px) / 2) + 752px) 0 calc(((100% - 1140px) / 2) + 205px);
}

.u-section-1 .u-shape-1 {
  width: 227px;
  height: 15px;
  margin: -20px auto 0 calc(((100% - 1140px) / 2) + -22px);
}

.u-section-1 .u-image-3 {
  width: 138px;
  height: 138px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -11px calc(((100% - 1140px) / 2) + 304px) 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -46px auto 0 calc(((100% - 1140px) / 2) + -19px);
}

.u-section-1 .u-text-5 {
  margin: 15px calc(((100% - 1140px) / 2) + 474px) 0 calc(((100% - 1140px) / 2) + 58px);
}

.u-section-1 .u-image-4 {
  width: 149px;
  height: 149px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -46px calc(((100% - 1140px) / 2) + 155px) 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -88px calc(((100% - 1140px) / 2) + 455px) 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-1 .u-group-1 {
  min-height: 285px;
  width: 1140px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 58px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-1 .u-icon-1 {
  width: 43px;
  height: 43px;
  margin: 6px 108px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 43px;
  height: 43px;
  margin: -43px 293px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 43px;
  height: 43px;
  margin: -43px 250px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 43px;
  height: 43px;
  margin: -43px 201px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 43px;
  height: 43px;
  margin: -43px 155px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -29px auto 0 427px;
  padding: 10px;
}

.u-section-1 .u-text-7 {
  margin: -64px 351px 0 686px;
}

.u-section-1 .u-image-5 {
  width: 78px;
  height: 78px;
  margin: -29px 409px 0 auto;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -78px auto 0 235px;
  padding: 10px;
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -64px auto 0 299px;
  padding: 10px;
}

.u-section-1 .u-icon-9 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -64px auto 0 363px;
  padding: 10px;
}

.u-section-1 .u-icon-10 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -64px auto 0 171px;
  padding: 10px;
}

.u-section-1 .u-text-8 {
  margin: -47px 915px 0 129px;
}

.u-section-1 .u-text-9 {
  margin: 4px 176px 0 692px;
}

.u-section-1 .u-text-10 {
  margin: -28px 703px 0 121px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 81px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 406px;
  grid-template-columns: calc(33.3333% - 145.333px) calc(33.3333% - 145.333px) calc(33.3333% - 145.333px);
  grid-gap: 218px 218px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-11 {
  font-weight: 800;
  background-image: none;
  margin: 30px 1px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-12 {
  font-weight: 800;
  background-image: none;
  margin: 30px 1px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-13 {
  font-weight: 800;
  background-image: none;
  margin: 30px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 118px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 78px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 1140px) / 2) + 404px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 81px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 432px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 405px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: 348px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 251px;
    margin-left: 586px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 244px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 296px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 815px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 76px;
    margin-left: 592px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 603px;
    margin-left: 21px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 320px;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 190px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 747px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 188px);
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 488px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 191px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 322px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 365px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 295px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: 220px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 188px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 261px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 141px;
    margin-left: 476px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 176px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 183px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 222px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 624px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 448px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 404px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 735px;
    grid-template-columns: calc(50% - 109px) calc(50% - 109px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 143px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 657px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 278px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 398px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 281px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 455px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 173px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 148px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 158px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 206px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 71px;
    margin-left: 406px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 139px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 144px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 264px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 90px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 557px);
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 378px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 381px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-4 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 436px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-icon-1 {
    margin-right: 66px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 106px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 91px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 97px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 95px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 127px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 277px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 242px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 86px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 89px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 108px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 64px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before,
.u-section-1 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-image-6 {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-6 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-1 .u-image-6 {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-6 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before,
.u-section-1 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-image-7 {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-7 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-1 .u-image-7 {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-7 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before,
.u-section-1 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-8.u-image-8.u-image-8:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-8.u-image-8.u-image-8.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-image-8 {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-8 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-1 .u-image-8 {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-8 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}